@charset "utf-8";
/* 共通 */
* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

.mainhi{
  margin-top: 50px;
}

.imgBg {
    width: 150px;
    margin-right: 48px;
    float: left;
    height: 100%;
  }

.upload{
    height: 150px;
    width: 150px;
  }

.upload img{
  height: 100%;
  width: 100%;
}

.namehi{
  margin-top: -20px;
}

.texthi{
  margin-top: 10px;
  margin-bottom: 5px;
}

