@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'jaf-facitweb', 'Helvetica Neue', Arial, sans-serif;
  background: url(../../img/login/login.jpg) no-repeat;
}
a {
  display: block;
  color: #333;
}
header a:hover,
main a:hover {
  text-decoration: none;
  opacity: 0.6;
  color: #eee;
}
p {
  margin-bottom: 0;
}
ul {
  list-style-type: none;
}

/* PC */
@media screen and (min-width:769px) {
  .loginWrap {
  }
  .headerLogo {
    position: static;
    margin-left: 20px;
  }
  .loginContainer {
    max-width: 500px;
    height: 375px;
    margin: 100px auto;
    padding: 40px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  .txtLogin {
    font-size: 250%;
    margin-bottom: 45px;
    padding-bottom: 35px;
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    border-bottom: solid 1px #ccc;
  }
  .loginContainer ul li {
    float: left;
    width: 200px;
  }

  .txthei{
    padding-bottom: 15px;
  }

  .btnhei{
    margin-bottom: 30px;
  }
}

/* Phone */
@media screen and (max-width:768px) {
  .loginWrap {
    min-height: 400px;
    position: relative;
    margin-top: 70px;
  }
  .loginContainer {
    max-width: 500px;
    width: 100%;
    height: 275px;
    margin: 100px auto;
    padding: 40px;
    border: solid 1px #ccc;
    border-radius: 5px;
    background-color: #fff;
  }
  .txtLogin {
    font-size: 250%;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: center;
    letter-spacing: 2px;
    color: #333;
    border-bottom: solid 1px #ccc;
  }
  .loginContainer ul li {
    float: left;
    width: 200px;
  }
  
}
@media screen and (max-device-width:768px) {
  .loginContainer {
    margin-top: 50px;
  }
}