@charset "utf-8";
/* 共通 */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}


  main {
    font-size: 100%;
    height: 100%;
    padding: 35px 0 35px 0;
  }
  
  .imgBg {
    width: 150px;
    margin-right: 48px;
    float: left;
    height: 100%;
  }
  .uploadFile {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .upload {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
  }
  .upload img {
    width: 100%;
    height: 100%;
  }
  .mainItem {
    font-size: 130%;
    margin-bottom: 7px;
  }
  
  .labelwd{
    margin-left: 26%;
  }

  .texthi{
  margin-bottom: 20px;
}

.textuh{
  margin-top: -16px;
}
.btnhi{
  margin-top: 20px;
}