@charset "utf-8";
/* 共通 */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}

.txtBox {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #ddd;
  padding-left: 12px;
}
.marginBottom {
  margin-bottom: 15px;
}
main {
  background-color: #fff;
}
  .marginLeft {
    margin-left: 375px;
  }
  main {
    font-size: 100%;
    height: 100%;
    padding: 35px 0 35px 0;
  }
  .sm-setting-Bg {
    background-color: #edeff0;
    height: 470px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 652px;
    padding: 40px;
    border: 1px #ccc solid;
    box-sizing: border-box;
  }
  .sm-setting-txtBox {
    width: 360px;
    height: 83px;
    float: left;
  }
 
  .mainItem {
    font-size: 130%;
    margin-bottom: 7px;
  }
  .txtBox {
    line-height: 305px;
    font-size: 110%;
  }
  .sbmButton {
    margin-top: 15px;
  }
  .smItem {
    width: 100%;
    margin-bottom: 5px;
  }
  .checkMessage {
    padding-top: 7px;
  }


