@charset "utf-8";
/* 共通 */
* {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
main a {
  color: #333;
  display: block;
}
header .row a:hover,
main a:hover,
input[type="bottom"]:hover,
input[type="submit"]:hover {
  color: #eee;
  opacity: 0.6;
  text-decoration: none;
}
p {
  margin-bottom: 0;
}
.txtBox {
  width: 100%;
  border-radius: 4px;
  border: 2px solid #ddd;
  padding-left: 12px;
}
.marginBottom {
  margin-bottom: 15px;
}
main {
  background-color: #fff;
}
@media screen and (min-width:769px) {
  .marginLeft {
    margin-left: 375px;
  }
  main {
    font-size: 100%;
    height: 100%;
    padding: 35px 0 35px 0;
  }
  .sm-setting-Bg {
    background-color: #edeff0;
    height: 470px;
    border-radius: 5px;
    margin: 0 auto;
    max-width: 652px;
    padding: 40px;
    border: 1px #ccc solid;
    box-sizing: border-box;
  }
  .sm-setting-txtBox {
    width: 360px;
    height: 83px;
    float: left;
  }
  .imgBg {
    width: 150px;
    margin-right: 48px;
    float: left;
    height: 100%;
  }
  .uploadFile {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .upload {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
  }
  .upload img {
    width: 100%;
    height: 100%;
  }
  .mainItem {
    font-size: 130%;
    margin-bottom: 7px;
  }
  .txtBox {
    line-height: 35px;
    font-size: 110%;
  }
  .sbmButton {
    margin-top: 15px;
  }
  .smItem {
    width: 100%;
    margin-bottom: 5px;
  }
  .checkMessage {
    padding-top: 7px;
  }
  .btnBg {
    float: right;
    margin: 10px 12px 0 0;
    /*width: 294px;*/
  }
  .smBtn {
    width: 130px;
  }
  .btnCancel {
    margin-left: 30px;
  }
}

/* Phone */
@media screen and (max-width:768px) {
  main {
    margin-top: 0px;
    font-size: 70%;
  }
  .imgBg {
    width: 150px;
    height: 150px;
    margin: 0 auto 20px auto;
  }
  .imgBg img {
    width: 100%;
    height: 100%;
  }
  .uploadFile {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    filter: alpha(opacity=0);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  .upload {
    position: relative;
    overflow: hidden;
    height: 150px;
    width: 150px;
  }
  .upload img {
    width: 100%;
    height: 100%;
  }
  .uploadFile {
    width: 100%;
    height: 100%;
  }
  .mainItem {
    font-size: 17px;
  }
  .txtBox {
    width: 65%;
    font-size: 2em;
  }
  .txtBoxXs {
    width: 100%;
    font-size: 160%;
    line-height: 35px;
  }
  .sbmButton {
    margin-top: 15px;
  }
  .smItem {
    margin-bottom: 5px;
  }
  .btn {
    background-color: #ccc;
  }
}