    <!--main-->
  <main>
    <div =class="row">
      <div class="col-xs-4 col-xs-offset-1">
        <form method="post" action="/invite">
        <label>招待</label>
          <div class="input-group">
             <input type="text" class="form-control" placeholder="メールアドレス" name="address">
              <span class="input-group-btn">
                <button class="btn btn-default" type="submit">送信</button>
              </span>
          </div>
        </form>

      <!--table-->
      <form method="post" action="/backnumber">
      <label class="nheight">背番号</label>
      <button type="submit" class="pull-right btn btn-xs btn-default btn-ghost nheight">更新</button>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>背番号</th>
            <th>変更番号</th>
          </tr>
          <% @members.each do |contents| %>
          <tr>
            <th><%=contents['UserName'] %></th>
            <th><%=contents['BackNumber']%></th>
            <th>
                <input type="text" style="width:50px;" class="form-control input-sm" name="backnumber[<%=contents['UserName'] %>]">
            </th>
          <%end%>
          </tr>
        </thead>      
      </table>
      </form>
      </div>

    <div class="col-xs-4 col-xs-offset-1">
     <form action="/authority" method="post">
      <label class="mheight">権限付与</label>
      <button type="submit" class="pull-right btn btn-xs btn-default btn-ghost mheight">更新</button>
      <!--table-->
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>権限</th>
          </tr>

          <% @members.each do |contents| %>
          <tr>
            <th><%=contents['UserName'] %></th>
            <th>
            <input type="checkbox" name="adminlist[]" value="<%=contents['UserName']%>">
            <%=p printadmin(contents['Admin_Flag'])%>
            </th>
          </tr>
          <% end %>
        </thead>      
      </table>    
      </form>
    </div>
    </div>
  </main>
    <!-- // main-->