<h1><%=@thread.ThreadTitle%></h1>

<form method='post' action='/posting'>
  <input type="hidden" name="threadid" value="<%= @thread.Thread_id %>">
  <input type="hidden" name="title" value="<%= @thread.ThreadTitle %>">
  <input type="hidden" name="userid" value="<%= @user.User_id %>">
  <h2>投稿</h2>
  <textarea id="post_text" name="comment" rows="5" cols="30"></textarea>
  <input type="submit" value="投稿">
</form>
  <% @comments.each do |contents|%>
    <p><%=contents["PostDate"].strftime("%Y/%m/%d %H:%M:%S")%> 投稿者:<%=(User.find_by(User_id: contents["User_id"])).UserName%></p>
    <p><%=convertBr(h(contents['Contents']))%></p>
  <%end%>