<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/ui-darkness/jquery-ui.css" >
  <script type="text/javascript" src="javascript/delete.js"></script>
  <script type="text/javascript" src="javascript/edit.js"></script>
  <link rel="stylesheet" href="css/order.css">
  <script src="javascript/jquery.tabletojson.js" type="text/javascript"></script>
  <script src="javascript/ajaxtest.js" type="text/javascript"></script>
  <script type="text/javascript" src="javascript/check.js"></script>
  <link rel="stylesheet" type="text/css" href="css/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/default/performance.css">
  <link rel="stylesheet" type="text/css" href="css/default/management.css">
  <link rel="stylesheet" type="text/css" href="css/default/score.css">
  <link rel="stylesheet" type="text/css" href="css/default/profilesettings.css">
  <link rel="stylesheet" type="text/css" href="css/default/team.css">
  <link rel="stylesheet" type="text/css" href="css/default/edit.css">
  <link rel="stylesheet" type="text/css" href="../css/default/btn-ghost.css">
  <link rel="stylesheet" type="text/css" href="css/default/matchplan.css">
  <link rel="stylesheet" type="text/css" href="css/default/mypage.css">
  <link rel="stylesheet" type="text/css" href="css/default/individual.css">
  <link href="css/dist/css/bootstrap-switch.css" rel="stylesheet">
  <script src="css/dist/js/bootstrap-switch.js"></script>
  <link rel="stylesheet" type="text/css" href="css/default/login.css">
  <script type="text/javascript" src="javascript/change.js"></script>  
  <title>baseball</title>
</head>
<body>
<!--header-->
<header>
  <div class="row">
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="mypage">baseball</a>
        </div>
        <ul class="nav navbar-nav pull-right">
          <li><a href="/teampage">チームページ</a></li>
          <li><a href="/match">試合予定</a></li>
          <li><a href="/performance">成績</a></li>
          <li><a href="/past_match">過去の試合</a></li>
          <li>
          <a href="javascript:document.logoutform.submit()">ログアウト</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<form name="logoutform" method="post" action="/logout">
<input type="hidden" name="_method" value="delete">
</form>
</header>
  <%= yield %>
</body>
<script src="javascript/sortable.js" type="text/javascript"></script>
</html>