<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>Login</title>
  <link rel="stylesheet" type="text/css" href="../css/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="../css/default/login.css">
</head>
<body>
  <div class="wrap height">
    <div class="container-fluid height">
      <div class="containerBox height">
        <div class="row height">

          <!-- header -->
          <header class="cd-header">
            <nav class="cd-main-nav container">
          </header>
          <!-- // header -->

          <!-- main -->
          <!-- sm -->
          <div class="container col-sm-12 loginWrap wrapHeight visible-lg visible-md visible-sm xs-hidden">
            <div class="loginContainer">
              <div class="txtLogin">
                <p>LOGIN</p>
              </div>
              <div class="col-sm-12">
                <div class="row">
                <form action="/login" method="post">
                  <div class="txthei">
                    <input type="text" name="address" id="name" placeholder="メールアドレス" class="form-control">
                  </div>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="row">
                  <div class="txthei">
                    <input type="password" name="password" id="name" placeholder="パスワード" class="form-control">
                  </div>
                </div>
              </div>
              
              <input type="submit" class="btnhei btn btn-primary col-sm-6 col-sm-offset-6 col-sm-pull-3 btnhei" value="ログイン">
              <input type="button" onclick="location.href='/signup'"class="btnhei btn btn-primary col-sm-6 col-sm-offset-6 col-sm-pull-3 btnhei" value="新規登録">
              </form>
              <div class="text-right ol-sm-3 col-sm-offset-9"><a href="/teampage">Teampage</a></div>
            </div>

          </div>

          <footer class="col-sm-3 col-sm-offset-9">
          </footer>
          <!-- // sm -->

          <!-- xs -->
          <div class="container col-xs-12 loginWrap wrapHeight lg-hidden md-hidden visible-xs sm-hidden">
            <div class="loginContainer">
              <div class="txtLogin">
                <p>LOGIN</p>
              </div>
            </div>
          </div>
          <!-- // xs -->
          <!-- // main -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>