<div class="col-xs-8 col-xs-offset-2">
  <% @matches.each do |contents|%>
      <% attended = Order.attend_check(@user,contents['Match_id'])%>
      <% state = space_check(attended)%>
      <form action="/match_operation" method="post">
        <table class="table table-striped table-hover">
          <thread>
          <tr>
            <th>対戦チーム</th>
            <th>グラウンド名</th>
            <th>試合日</th>
          </tr>
          <tr>
            <th id = "team<%= contents['Match_id']%>"><%= contents['EnemyTeam']%></th>
            <th id = "ground<%= contents['Match_id']%>"><%= contents['GroundName']%></th>
            <th id = "date<%= contents['Match_id']%>"> <%= contents['MatchDate'].strftime('%Y/%m/%d')%></th>
          </tr>
        <tr>
        <th><input class="btn btn-default btn-ghost" id="order<%=contents['Match_id'] %>" type="submit" name="order_button" value="オーダー" ></th>
        <th>
          <input  class="btn btn-default btn-ghost" type="submit" id = "attendbutton<%= contents['Match_id'] %>" value="出欠状況変更" onclick=attend_change('<%=contents['Match_id'] %>','<%= state%>')></th>
          <th id = "attend_check<%= contents['Match_id']%>"><%= state%></th>
        </tr>
          <span id = "flag<%=contents['Match_id'] %>"></span>
        <span id = "attend<%= contents['Match_id'] %>"></span>
        <input type="hidden" name="match_id" value=<%=contents['Match_id'] %>>
        <input type="hidden" name="_method" value="delete">
      </thread>
      </table>
      </form>
  <%end%>
</div>
