<main>
  <div class="row">
    <div  class="col-xs-6 col-xs-offset-1">
  <% @matches.each do |contents|%>
      <% attended = Order.attend_check(@user,contents['Match_id'])%>
          <% state = space_check(attended)%>
      <form action="/match_operation" method="post">
        <table class="table table-striped table-hover">
          <thread>
         <tr>
           <th>対戦チーム</th>
           <th>グラウンド名</th>
           <th>試合日</th>
         </tr>
          <tr>
            <th id = "team<%= contents['Match_id']%>"><%= contents['EnemyTeam']%></th>
            <th id = "ground<%= contents['Match_id']%>"><%= contents['GroundName']%></th>
            <th id = "date<%= contents['Match_id']%>"> <%= contents['MatchDate'].strftime('%Y/%m/%d')%></th>
          </tr>
        <tr>
       <th>
         <input  class="btn btn-default btn-ghost" type='button' id = 'delete_button<%=contents['Match_id'] %>' onclick="delete_match(this.form)" value="削除">
           <input  class="btn btn-default btn-ghost"id="score<%=contents['Match_id'] %>" type="submit" name="score_button" value="スコア">
         <input class="btn btn-default btn-ghost" id="order<%=contents['Match_id'] %>" type="submit" name="order_button" value="オーダー" >
         <input  class="btn btn-default btn-ghost" type="button" id = "edit_button<%=contents['Match_id'] %>" onclick="edit_match('<%=contents['Match_id'] %>','<%=contents['EnemyTeam'] %>','<%=contents['GroundName'] %>','<%= contents['MatchDate'].strftime('%Y/%m/%d') %>')"value="編集">
         <span id = "submitbutton<%= contents['Match_id']%>"></span>
       </th>
        <th>
          <input  class="btn btn-default btn-ghost" type="submit" id = "attendbutton<%= contents['Match_id'] %>" value="出欠状況変更" onclick=attend_change('<%=contents['Match_id'] %>','<%= state%>')></th>
          <th id = "attend_check<%= contents['Match_id']%>"><%= state%></th>

        <span id = "flag<%=contents['Match_id'] %>"></span>
        <span id = "attend<%= contents['Match_id'] %>"></span>
        <input type="hidden" name="match_id" value=<%=contents['Match_id'] %>>
        <input type="hidden" name="_method" value="delete">
       </tr>
          </thread>
          </table>
      </form>
  <%end%>
</div>
  <div  class="mpcreateh col-xs-3 col-xs-offset-2 col-xs-pull-1">
    <h2>試合予定作成</h2>
    <form action="/add_match" method="post">
      <div class="form-group">
        <label> 対戦チーム名</label>
        <input type="text" name="enemyTeam"  class="form-control"><br/>
      </div>

      <div class="form-group">
        <label>グラウンド名</label>
        <input type="text" name="groundName"  class="form-control"><br/>
      </div>

      <div class="form-group">
       <label>試合日</label>
        <input type="text" id="day" name="matchDate"  class="form-control"><br/>
      </div>

      <input type="submit" class="pull-right btn btn-default btn-ghost" value="登録">
    </form>
  </div>
  </div>
</main>