  <main>
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
      <p class="help-block">メンバー</p>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>名前</th>
            <th>背番号</th>
          </tr>
          
          <% @member.each do |contents| %>
          <tr>
            <th><a href="/<%=contents['UserName']%>"><%=contents['UserName'] %></a> <span class="divider"></th>
            <th><%=contents['BackNumber'] %></th>
          </tr>
          <% end %>
        </thead>      
      </table>
      </div>     
    </div>
  </main>