<!--main-->

<main>

  <div class="row">
    <div class="col-xs-2 col-xs-offset-4">
      <div class="imgBg">
        <div class="upload">
          <!--<img data-bind="attr: {src: userImgSrc}">-->
          <%=profileImg(@user.Icon)%>
          <input id="uploadPcFile" class="uploadFile" type="file" accept="image/*" data-bind="event: { change : getFile }">
        </div>
      </div>
    </div>
    <div class="col-xs-2 namehi">
      <h3><span class="label label-primary namehi"><%= @user.UserName %></span></h3><p></p>
      <input type="button" class="btn btn-default btn-ghost btnhi" onclick="location.href = '/profile'" value="プロフィール編集" >
    </div>

  </div>
</main>
<!-- // main-->