  <div class="wrap height">
    <div class="container-fluid height">
      <div class="containerBox height">
        <div class="container col-sm-12 loginWrap wrapHeight visible-lg visible-md visible-sm xs-hidden">
          <div class="now_order">
            <h3>現在のオーダー</h3>
            <table class="table table-bordered" border="1">
              <th>打順</th>
              <th>名前</th>
              <th>守備</th>
            <% @order_decision.each do |contents|%>
              <tr>
                <td class="now_bt_number"><%= contents['Batting_order']%></td>
                <td class="now_player"><%= contents['UserName']%></td>
                <td class=""><%= contents['Position']%>
              </tr>
            <%end%>
            </table>
          </div>
          <div class="order_contaner">
            <div class="order_player">
              <div class="order_number">
                <table class="table table-bordered orderTable" border="1">
                  <thead>
                    <tr class="header">
                      <th>打順</th>
                    </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td>1</td>
                  </tr>
                  <tr>
                    <td>2</td>
                  </tr>
                  <tr>
                    <td>3</td>
                  </tr>
                  <tr>
                    <td>4</td>
                  </tr>
                  <tr>
                    <td>5</td>
                  </tr>
                  <tr>
                    <td>6</td>
                  </tr>
                  <tr>
                    <td>7</td>
                  </tr>
                  <tr>
                    <td>8</td>
                  </tr>
                  <tr>
                    <td>9</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <div class="player_name">
                <table class="table table-bordered orderTable" border="1" height="304">
                <thead class="header">
                  <tr>
                    <th>名前</th>
                  </tr>
                </thead>
                <tbody>
                  <% @player.each do |contents| %>
                    <tr>
                      <td><%= contents["UserName"] %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
              </div>
              <div class="position">
                <table class="table table-bordered orderTable" border="1">
                <thead class="header">
                  <tr>
                    <th>守備</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>一</td>
                  </tr>
                  <tr>
                    <td>二</td>
                  </tr>
                  <tr>
                    <td>三</td>
                  </tr>
                  <tr>
                    <td>遊</td>
                  </tr>
                  <tr>
                    <td>右</td>
                  </tr>
                  <tr>
                    <td>中</td>
                  </tr>
                  <tr>
                    <td>左</td>
                  </tr>
                  <tr>
                    <td>捕</td>
                  </tr>
                  <tr>
                    <td>投</td>
                  </tr>
                </tbody>
                </table>
              </div>
            </div>
          <div id="btn">
            <input  class="btn btn-default" type="button" value="決定">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>