<div class="row">
<div class="col-xs-8 col-xs-offset-2">
  <h2>終了した試合</h2>
      <table class="table table-striped table-hover">
        <thead>
        <tr>
          <th>対戦チーム</th>
          <th>グランド名</th>
          <th>試合日</th>
          <th>勝敗</th>
          <th></th>
        </tr>
        <% @end_matches.each do |contents|%>
        <tr>
          <th><%= contents['EnemyTeam']%></th>
          <th> <%= contents['GroundName']%></th>
          <th> <%= contents['MatchDate'].strftime('%Y-%m-%d')%></p></th>
          <th><%= contents['Win_Flag']%></th>
          <th><a href="/seiseki?date=<%=contents['MatchDate']%>">成績入力</a></th>
        </tr>
        <%end%>
        </thead>
   </table>
</div>
</div>