    <!--main-->
    <main>
    <div class="col-xs-2 col-xs-offset-1" >
      <input type="checkbox" name="my-checkbox" checked>
    </div>

    <div  class="container" id="Batting">
    <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>打席</th>
        <th>打数</th>
        <th>安打</th>
        <th>1打</th>
        <th>2打</th>
        <th>3打</th>
        <th>本塁打</th>
        <th>打点</th>
        <th>得点</th>
        <th>三振</th>
        <th>四球</th>
        <th>死球</th>
        <th>犠打</th>
        <th>犠飛</th>
        <th>出塁</th>
        <th>盗塁</th>
        <th>失策</th>
        <th>フィーバー</th>
      </tr>
    </thead>
    <tbody>
 <% @performances.each do |user|%>
 <tr>
 <td><%=selectName(user["User_id"])%></td><td><%=user["AT_Bat"]%></td><td><%=user["AT_Bats"]%></td><td><%=user["Hit"]%></td><td><%=user["Single_hit"]%></td><td><%=user["Twobase_hit"]%></td>
 <td><%=user["Threebase_hit"]%></td><td><%=user["HomeRun"]%></td><td><%=user["RBI"]%></td><td><%=user["Score"]%></td><td><%=user["Struckout"]%></td><td><%=user["Walk"]%></td><td><%=user["Deadball"]%></td>
 <td><%=user["Sacrifice"]%></td><td><%=user["Sacrifice_Fly"]%></td><td><%=user["On_base"]%></td><td><%=user["Stolen_base"]%></td><td><%=user["Blunder"]%></td><td><%=user["Fever"]%></td>
 </tr>
 <%end%>
    </tbody>
  </table>
  </div>

    <div  class="container" id="Pitching" style="display:none;">
    <table class="table">
    <thead>
      <tr>
        <th>名前</th>
        <th>登板</th>
        <th>勝利</th>
        <th>敗北</th>
        <th>救援</th>
        <th>投球回</th>
        <th>対打者</th>
        <th>被安打</th>
        <th>被本塁打</th>
        <th>奪三振</th>
        <th>与四球</th>
        <th>与死球</th>
        <th>牽制</th>
        <th>失点</th>
        <th>自責点</th>
        <th>強制交代</th>
      </tr>
    </thead>
    <tbody>
 <% @performances.each do |user|%>
 <tr>
 <td><%=selectName(user["User_id"])%></td><td><%=user["Mound"]%></td><td><%=user["Victory"]%></td><td><%=user["Defeat"]%></td><td><%=user["Relief"]%></td><td><%=user["Pitching_times"]%></td>
 <td><%=user["Versus_batter"]%></td><td><%=user["The_Hits"]%></td><td><%=user["Home_runs_allowed"]%></td><td><%=user["Strikeouts"]%></td><td><%=user["Walks_given"]%></td><td><%=user["Deadball_given"]%></td>
 <td><%=user["Pick_off"]%></td><td><%=user["Runs_allowed"]%></td><td><%=user["Earned_runs"]%></td><td><%=user["Force_change"]%></td>
 </tr>
 <%end%>
    </tbody>
  </table>
  </div>      
    </main>
    <!-- // main-->
<script>
      // $("[name='my-checkbox']").bootstrapSwitch();
      var options = {
        onText: "打",
        offText: "投",
        handleWidth: 40,
      }
      var btn = $("[name='my-checkbox']").bootstrapSwitch(options)
      
$('input[name="my-checkbox"]').on('switchChange.bootstrapSwitch', function(event, state) {
console.log(state);
if(state == true){
  document.getElementById("Batting").style.display = "block";
  document.getElementById("Pitching").style.display = "none";
}
else{
  document.getElementById("Batting").style.display = "none";
  document.getElementById("Pitching").style.display = "block";
    }
});
</script>