﻿    <!--main-->
  <main>
    <div =class="row">
        <form method="post" action="/upload_img" enctype="multipart/form-data">
        <label class="labelwd">プロフィール設定</label>
        <div class="form-group">

            <div class="col-xs-2 col-xs-offset-3">
              <div class="imgBg">
                <div class="upload">
                 <%=profileImg(@user.Icon)%>
                 <input id="uploadPcFile" class="uploadFile" type="file" accept="image/*" data-bind="event: { change : getFile }" name="file">
                 <input type="hidden" name="userid" value="<%=@user.User_id%>">
               </div>
              </div>
              <button type="submit" class="btn btn-default btn-ghost btnhi">アップロード</button>
            </div>
        </div>
        </form>

        <form action="/profile" method="post">
        <div class="form-group">
          <div class="col-xs-4 col-xs-offset-2 col-xs-pull-2">
            <input type="text" class="form-control texthi textuh" placeholder="ユーザー名" name="username" value="<%=@user.UserName%>">
            <textarea name="introduction" id="introduction" cols="45" rows="10"
            placeholder="自己紹介文を書いてください" class="form-control texthi"><%=@user.Profile%></textarea>
            <input type="hidden" name="userid" value="<%=@user.User_id%>">
            <button type="submit" class="pull-right btn btn-default btn-ghost">変更</button>
          </div>
            
        </div>
    </form>
      </div>
  </main>