<% @matches.each do |contents|%>
<p>
試合日<%=contents["MatchDate"]%>  対戦チーム：<%=contents["EnemyTeam"]%><br>
<%=contents["Team_Point"]%> - <%=contents["Enemy_Point"]%><br>
<%=contents["Win_Flag"]%>
</p>
<%end%>