    <!--main-->    
  <main>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
      <div class="scorehight">
      <form action="/score" method="post">
      <table class="table table-bordered table-hover scorehight">
        <thead>
          <tr>
            <th></th>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
            <th>9</th>
            <th>10</th>
            <th>11</th>
            <th>12</th>   
          </tr>

          <tr>
            <th>自分チーム</th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="teampoint[]"></th>
          </tr>

          <tr>
            <th>相手チーム</th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
            <th><input type="text" style="width:36px;" class="form-control input-sm" name="enemypoint[]"></th>
          </tr>
        </thead>      
      </table>
      <input type="hidden" name="matchid" value="<%=@match.Match_id%>">
      <button type="submit" class="pull-right btn btn-default btn-ghost">登録</button>
      </form>
      </div>
    </div>
    </div>
  </main>
    <!-- // main-->
