<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <title>user1registration</title>
  <link rel="stylesheet" type="text/css" href="css/dist/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="css/dist/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="css/default/btn-ghost.css">
  <link rel="stylesheet" type="text/css" href="css/default/userregistration.css">
  <link href="css/dist/css/bootstrap-switch.css" rel="stylesheet">
  <script src="css/default/jquery-1.9.1.min.js"></script>
  <script src="css/dist/js/bootstrap-switch.js"></script>
</head>
<body>
    <!--main-->
    
  <main>

    <div =class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <form action="signup" method="post">
        <div class="form-group">
            <label class="labelhi">ユーザー登録</label>
            <input type="text" class="form-control texthi" placeholder="ユーザー名" name="username">
            <input type="text" class="form-control texthi" placeholder="メールアドレス" name="address">
            <input type="password" class="form-control texthi" placeholder="パスワード" name="password">
            <input type="password" class="form-control texthi" placeholder="パスワード確認" name="password_conf">
        </div>
        
        <button type="submit" class="pull-right btn btn-default btn-ghost">登録</button>
    </form>
      </div>
      </div>
  </main>
    <!-- // main-->
</body>
</html>