  <main>
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1 wrapHeight sidePadding marginTop">
        <div class="sm-setting-Bg hidden-xs">
          <div class="col-xs-8 col-xs-offset-2">
            <div class="hero-unit">
            <h1 class="text-primary">「俺について来い」</h1>
            <p class="text-info">活動地域</p>
            <p class="text-muted"><%= convertBr(h(@Team.Active_Place)) %></p>
            <p class="text-info">チーム紹介</p>
            <p class="text-muted"><%= convertBr(h(@Team.Team_Introduction)) %></p>
            </div>
            <button type="submit" class="pull-right btn btn-xs btn-default btn-ghost mheight" onclick="location.href='/member_all'">メンバー</button>
            <button type="submit" class="pull-right btn btn-xs btn-default btn-ghost mheight" onclick="location.href='/editpage'">編集</button>
          </div>
        </div>
      </div>
    </div>
  </main>
    <!-- // main-->
  <input type="submit"value="編集">
  <a href = "/member_all">メンバーページへ</a>
</div>