  <!--main-->
  <main>
    <div class="row">
    <div class="col-xs-4 col-xs-offset-8 col-xs-pull-4">
    <h1 class="hwd"><small>「俺について来い」</small></h1>
    <label class="text-primary">編集</label>
    </div>
        <div class="form-group">
        <form action="/editTeam" method="post">
          <div class="col-xs-4 col-xs-offset-8 col-xs-pull-4" id="editarea">
            <input type="text" class="form-control texthi textuh" placeholder="活動地域" name="place" value="<%=@Team.Active_Place%>">
            <textarea name="introduction" id="introduction" cols="45" rows="10"
            placeholder="チーム紹介" class="form-control"><%=@Team.Team_Introduction%></textarea>
            <button type="button" class="pull-right btn btn-default btn-ghost" onclick="history.back()">キャンセル</button>
            <button type="submit" class="pull-right btn btn-default btn-ghost">保存</button>          
          </div>
        </form>
        </div>
      </div>
  </main>