<form method="post" action = "/thread_create">
  <input type="text" name="threadTitle">
  <input type="submit" value="作成">
</form>
<h1>スレッド一覧</h1>
  <% @threads.each do |contents|%>
    <p><a href="/bbs/<%=contents["ThreadTitle"]%>"><%=contents["ThreadTitle"] %></a></p>
  <%end%>