﻿﻿<main>

  <div class="row">
  <div class="mainhi">
    <div class="col-xs-2 col-xs-offset-4">
      <div class="imgBg">
        <img src="img/<%=@userinfo.Icon%>" alt="写真" class="upload">
      </div>
    </div>
    <div class="col-xs-2 namehi">
      <h3><span class="label label-primary namehi"><%=@userinfo.UserName %></span></h3><p></p>
      <label class="text-muted texthi">プロフィール</label>
      <p><%=convertBr(h(@userinfo.Profile))%></p>
    </div>
  </div>
  </div>
</main>
<!-- // main-->

