@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

table { text-align: center; }

.orderTable{ float: left; }
.orderTable th { text-align: center; }

.now_order {
  height: 450px;
  float: left;
  margin: 40px;
  padding-left: 35px
}

.now_btnumber { width: 50px; }
.now_player { width: 207px; }
.now_position { width: 50px; }

.order_contaner {
  height: 400px;
  float: left;
  margin: 95px auto;
  padding-left: 30px;
}

.order_number {
  width: 60px;
  float: left;
}

.player_name {
  width: 480px;
  float: left;
}

.position {
  width: 60px;
  float: left;
}


tr { height: 30px; }

.orderTable .ui-sortable-helper td { width: 479px; }
.position .ui-sortable-helper td { width: 59px; }

#btn{ float: right; }